# Maven build folder
/target/

# TestNG / ExtentReports outputs
/reports/
/test-output/

# Eclipse/IDE files
/.classpath
/.project
/.settings/
/*.iml
/.idea/

# Logs
*.log
*.tmp

# Drivers
chromedriver.exe
geckodriver.exe
IEDriverServer.exe

# JDK / JRE if accidentally added inside project folder
/jre/
jdk-*/

# OS files
.DS_Store
Thumbs.db

# Optional: Ignore Maven wrapper files if not used
#mvnw
#mvnw.cmd
